* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #666666;
    font-weight: bold;
}

a {
    text-decoration: none;
}
img {
    margin-top: 10px;
    background-size: contain;
}
.successMsg {
    font-size: 10px;
    color: green;

}
.errorwarnings {
    font-size: 10px;
    color: red;
}
.avatarImg{
    border-radius: '50%'
}
.navlinkfont{
    color: 'gray';
    font-size: '12px';
}
.navlinkcolor{
    color:gray;
}
.grayfill{
    fill:'gray';
}
.whitefill{
    color:'white';
}
